<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363751789474-t971jmikk6sndomc8p5v61s5evm5evah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363751789474-t971jmikk6sndomc8p5v61s5evm5evah</string>
	<key>API_KEY</key>
	<string>AIzaSyD7-nh-JJnH97JRCos3WAYVzbtbqFOGmlY</string>
	<key>GCM_SENDER_ID</key>
	<string>363751789474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gameday.Gameday-V2</string>
	<key>PROJECT_ID</key>
	<string>berkshiregameday</string>
	<key>STORAGE_BUCKET</key>
	<string>berkshiregameday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363751789474:ios:15a456ea8bf27434</string>
	<key>DATABASE_URL</key>
	<string>https://berkshiregameday.firebaseio.com</string>
</dict>
</plist>